@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: var(--background-primary);
  color: var(--text);
  color-scheme: light dark;
  --text: #ffffff;
  --primary: #3b82f6;
  --secondary: #71717a;
  --background-primary: #18181b;
  --background-secondary: #27272a;
}

.card {
  @apply p-6 rounded-3xl border border-secondary;
}

h1 {
  @apply text-4xl sm:text-5xl uppercase;
}

h2 {
  @apply text-3xl sm:text-4xl;
}

h3 {
  @apply text-2xl sm:text-3xl;
}

h4 {
  @apply text-xl sm:text-2xl;
}

h5 {
  @apply text-lg sm:text-xl;
}

/*********************/
/*                   */
/*  Theme variables  */
/*                   */
/*********************/

/* Primary */
.bg-primary {
  background-color: var(--primary);
}

.text-primary {
  color: var(--primary);
}

.border-primary {
  border-color: var(--primary);
}

.outline-primary {
  outline-color: var(--primary);
}

/* Secondary */
.bg-secondary {
  background-color: var(--secondary);
}

.text-secondary {
  color: var(--secondary);
}

.border-secondary {
  border-color: var(--secondary);
}

.outline-secondary {
  outline-color: var(--secondary);
}

/* Background primary */
.bg-background-primary {
  background-color: var(--background-primary);
}

.text-background-primary {
  color: var(--background-primary);
}

.border-background-primary {
  border-color: var(--background-primary);
}

.outline-background-primary {
  outline-color: var(--background-primary);
}

/* Background secondary */
.bg-background-secondary {
  background-color: var(--background-secondary);
}

.text-background-secondary {
  color: var(--background-secondary);
}

.border-background-secondary {
  border-color: var(--background-secondary);
}

.outline-background-secondary {
  outline-color: var(--background-secondary);
}
